<toaster-container [toasterconfig]="config"></toaster-container>
<nb-card>
  <nb-card-header>Lecteur/Ecriveur de carte NFC</nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header>
          <div class="row">
              <div class="col-4">
                <i class="fa fa-circle" aria-hidden="true" [ngClass]="{'orange': nfc?.reader?.status=='loading'||'err', 'red': nfc?.reader?.status=='off', 'green': nfc?.reader?.status=='on'}"></i>
                Lecteur NFC<small *ngIf="nfc?.reader?.name">({{ nfc.reader.name }})</small>
              </div>
              <div class="col-4">
                Action:
                <small>{{ currentAction }}</small>
              </div>
              <div class="col-4" *ngIf="readOrWriteMode=='write'">
                Nombre de carte écrites:
                <small>{{ writtenCardsCount }}</small>
              </div>
            </div>
          </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-4">
            <label>Mode: {{ readOrWriteMode }} </label><br />
            <div [(ngModel)]="readOrWriteMode" ngbRadioGroup
                 class="btn-group btn-divided-group btn-outline-divided-group btn-group-full-width col-md-6 r-w-mode">
              <label ngbButtonLabel class="btn btn-outline-primary" (click)="writeCard()">
                <input ngbButton type="radio" value="write"> Write
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary" (click)="readCard()">
                <input ngbButton type="radio" value="read"> Read
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Client: </label><br />
              <select [(ngModel)]="selectedClient" class="form-control">
                <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
              </select>
            </div>
          </div>
          <!-- Action buttons
          <div class="col-4">
              <button type="button" class="btn btn-primary" (click)="readCard()">Read card</button>
              <button type="button" class="btn btn-primary" (click)="writeCard()">Write card</button>              
          </div> -->
        </div>

      </nb-card-body>
    </nb-card>



<p *ngFor="let alert of alerts; let i = index" [@fadeIn]="''">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" class="fade animate-show animate-hide">{{ i }} - {{ alert.message }}</ngb-alert>
</p>

<!-- Standard record -->
<table class="table" *ngIf="cardContent?.pin">
  <thead>
    <tr>
      <th>Card Uid</th>
      <th>PIN Code</th>
      <th>Security Transport Company</th>
      <th>Bank Name</th>
      <th>App Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ cardContent.pin  | decryptPin }}</th>
      <td>{{ cardContent.pin | decryptPin }}</td>
      <td>{{ cardContent.securityTransportCompany }}</td>
      <td>{{ cardContent.bankName }}</td>
      <td>{{ cardContent.appVersion }}</td>
    </tr>
  </tbody>
</table>

<!-- Unknown format card message -->
<div *ngIf="cardMessageUnknowFormatArray?.length > 0">
  <table class="table" *ngFor="let cardRecordUnknowFormat of cardMessageUnknowFormatArray">
    <thead>
      <tr>
        <!-- <th *ngFor="key of cardRecordUnknowFormat | getKeys">{{entry.key}}</th> -->
        <th class="span4"></th>      
        <th class="span2">Language</th>
        <th class="span2">Content</th>
        <th class="span4"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="span4"></td>
        <td scope="row" class="span2">{{ cardRecordUnknowFormat.language }}</td>
        <td class="span2">{{ cardRecordUnknowFormat.content }}</td>
        <td class="span4"></td>
      </tr>
    </tbody>
  </table>
</div>


  </nb-card-body>
</nb-card>
