@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}
.orange {
  color: nb-theme(color-warning);
}
.red {
  color: nb-theme(color-danger);
}
.green {
  color: nb-theme(color-success);
}

.r-w-mode label.btn {
  cursor: default !important;
  // opacity: 0.7;
  color: #dddddd;
}
.r-w-mode label.btn .active {
  opacity: 1;
}
.table {
  table-layout: fixed;
  word-wrap: break-word;
}