<toaster-container [toasterconfig]="config"></toaster-container>
<nb-card>
  <nb-card-header>Lecteur/Ecriveur de carte NFC</nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header>
          <div class="row">
              <div class="col-4">
                <i class="fa fa-circle" aria-hidden="true" [ngClass]="{'orange': nfc?.reader?.status==loading||err, 'red': nfc?.reader?.status=='off', 'green': nfc?.reader?.status=='on'}"></i>  
                Lecteur NFC<small> ({{ nfc?.reader?.name }})</small>
              </div>
              <div class="col-4">
                Action: 
                <small>{{ currentAction }}</small>
              </div>
              <div class="col-4">
                Nombre de carte écrites: 
                <small>{{ writtenCardsCount }}</small>
              </div>
            </div>
          </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-4">
            <label>Mode: </label><br />
            <div [(ngModel)]="readOrWriteStatus" ngbRadioGroup
                 class="btn-group btn-divided-group btn-outline-divided-group btn-group-full-width col-md-6">
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" value="write"> Write
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" value="read"> Read
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Client: </label><br />
              <select [(ngModel)]="selectedClient" class="form-control">
                <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-4"></div>
        </div>

      </nb-card-body>
    </nb-card>
    <!-- <div class="row">
      <div class="col-lg-12">
        <ngx-hero-buttons></ngx-hero-buttons>
      </div>
      <div class="col-md-12 col-lg-12 col-xxxl-6">
        <ngx-shape-buttons></ngx-shape-buttons>
        <ngx-action-groups></ngx-action-groups>
        <ngx-labeled-actions-group></ngx-labeled-actions-group>

        <div class="row">
          <div class="col-lg-5">
            <ngx-dropdown-buttons></ngx-dropdown-buttons>
            <ngx-icon-buttons></ngx-icon-buttons>
          </div>
          <div class="col-lg-7">
            <ngx-button-groups></ngx-button-groups>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xxxl-6">
        <ngx-size-buttons></ngx-size-buttons>
        <ngx-default-buttons></ngx-default-buttons>
        <ngx-block-level-buttons></ngx-block-level-buttons>
      </div>
    </div> -->

  </nb-card-body>
</nb-card>
