<toaster-container [toasterconfig]="config"></toaster-container>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-8">
        NFC Card Reader/Writer
      </div>
      <div class="col-4 color-primary-txt text-right" *ngIf="isLoading">
        <i class="fa fa-circle-o-notch  fa-spin fa-fw"></i>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header>
          <div class="row">
            <!-- Left: reader status -->
            <div class="col-4">
              <i class="fa fa-circle" aria-hidden="true"
                  [ngClass]="{
                    'orange': nfc?.reader?.status == 'ERROR',
                    'red': nfc?.reader?.status == 'OFF' || nfc?.reader?.status == 'isLoading',
                    'green': nfc?.reader?.status === 'ON'
                  }"
              ></i>

              <span *ngIf="nfc?.reader?.status == 'ON'">
                NFC Reader
                <small *ngIf="nfc?.reader?.name">({{ nfc.reader.name }})</small>
              </span>

              <span *ngIf="nfc?.reader?.status == 'OFF' || nfc?.reader?.status == 'isLoading'">
                <small> Waiting for a <strong>NFC reader</strong>... </small> <i class="fa fa-circle-o-notch fa-spin fa-fw" style="padding-left: 8px;"></i>
              </span>
            </div>

            <!-- Middle: Action: -->
            <div class="col-4">
              <small>
                  <span *ngIf="nfc?.action?.type == 'CARD_READ'">Reading a card...</span>
                  <span *ngIf="nfc?.action?.type == 'CARD_WRITE'">Writing a card...</span>
                  <!-- <span *ngIf="nfc?.action?.init">Initializing reader...</span> -->
              </small>
            </div>

            <!-- Right: card written || card uid/type -->
            <div class="col-4" *ngIf="readOrWriteMode=='write'">
              Cards written:
              <small>{{ writtenCardsCount }}</small>
            </div>
            <!-- card uid & type -->
            <div class="col-2" *ngIf="nfc?.cardUid && readOrWriteMode=='read'">
              <h6>Card UID <span class="badge badge-primary">{{ nfc.cardUid }}</span></h6>
            </div>
            <div class="col-2" *ngIf="nfc?.cardType && readOrWriteMode=='read'">
              <h6>Card Type <span class="badge badge-primary">{{ nfc.cardType }}</span></h6>
            </div>

            <!-- Right: card being read -->
            <div class="col-4 text-right" *ngIf="readOrWriteMode=='read'">
              <span *ngIf="nfc?.card?.status == 'ON'">
                <i class="fa fa-credit-card fa-fw"></i>
              </span>
            </div>

          </div>
        </nb-card-header>

      <nb-card-body *ngIf="nfc?.reader?.status == 'ON'">
        <div class="row">
          <div class="col-4">
            <label>Mode: {{ readOrWriteMode }} </label><br />
            <div [(ngModel)]="readOrWriteMode" ngbRadioGroup
                  class="btn-group btn-toggle-group btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group col-md-6 r-w-mode">
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" value="write" (click)="writeCard()"> Write
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" value="read" (click)="readCard()"> Read
              </label>
            </div>
          </div>

          <div class="col-4" *ngIf="readOrWriteMode == 'write'">
            <div class="form-group">
              <label>Client: </label><br />
              <select [(ngModel)]="selectedClient" class="form-control" (ngModelChange)="modelChanged($event)">
                <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-4" *ngIf="readOrWriteMode == 'write'">
            <div class="form-group">
              <label>Bank name: </label><br />
              <input type="text" class="form-control" [(ngModel)]="cardContent.bankName" name="bankName" (ngModelChange)="modelChanged($event)">
            </div>
          </div>

        </div>

        <div class="row" *ngIf="readOrWriteMode == 'write'">
          <div class="col-4 offset-4">
            <form>
              <div class="form-group">
                <label>Pin code: </label><br />
                <input type="text" class="form-control" placeholder="No pin built yet." [(ngModel)]="cardContent.pin" name="pin" disabled>
              </div>
            </form>
          </div>
          <div class="col-4">
            <form>
              <div class="form-group">
                <label>App version: </label><br />
                <input type="text" class="form-control" placeholder="No version retrieved yet." [(ngModel)]="cardContent.appVersion" name="appVersion" disabled>
              </div>
            </form>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    
<!-- Alerts messages -->
<p *ngFor="let alert of alerts | reverseArr; let i = index" [@fadeIn]="''">
  <!-- <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" class="fade animate-show animate-hide">{{ alerts.length - i }} - {{ alert.message }}</ngb-alert> -->
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" class="fade animate-show animate-hide">{{ alert.message }}</ngb-alert>
</p>


<!-- Standard record -->
<table class="table" *ngIf="cardContent.pin && cardContent.securityTransportCompany && cardContent.bankName && cardContent.appVersion && readOrWriteMode === 'read'">
  <thead>
    <tr>
      <th>Card Uid</th>
      <th>PIN Code</th>
      <th>Security Transport Company</th>
      <th>Bank Name</th>
      <th>App Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ cardContent.pin  | decryptPin }}</th>
      <td>{{ cardContent.pin | decryptPin }}</td>
      <td>{{ cardContent.securityTransportCompany }}</td>
      <td>{{ cardContent.bankName }}</td>
      <td>{{ cardContent.appVersion }}</td>
    </tr>
  </tbody>
</table>

<!-- Unknown format card message -->
<div *ngIf="cardMessageUnknowFormatArray?.length > 0">
  <table class="table" *ngFor="let cardRecordUnknowFormat of cardMessageUnknowFormatArray">
    <thead>
      <tr>
        <!-- <th *ngFor="key of cardRecordUnknowFormat | getKeys">{{entry.key}}</th> -->
        <th class="span2">Language</th>
        <th class="span4">Content</th>
        <th class="span2">Record type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" class="span2">{{ cardRecordUnknowFormat.language }}</td>
        <td class="span4">{{ cardRecordUnknowFormat.content || cardRecordUnknowFormat.text || cardRecordUnknowFormat.uri || cardRecordUnknowFormat.aar }}</td>
        <td class="span2">{{ cardRecordUnknowFormat.type }}</td>
      </tr>
    </tbody>
  </table>
</div>





  </nb-card-body>
</nb-card>
