// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// and change some variables inside of the map
$nb-themes: nb-register-theme((
    // fonts
    font-main: Roboto,
    font-secondary: Roboto, // @TODO: choose & set a secondary font
    font-size: 0.94rem, // main font-size
    font-size-lg: 1.1rem,
    font-size-xlg:1.2rem,
    color-fg-text: #72777a,
    color-fg-heading: color-fg,
    font-weight-normal: 500,
    // font-weight-bold:600,

    // cards
    card-height-xsmall: 216px, // default val

    /**
    * sidemenu
    */
    // category item
    menu-item-padding: 0.68rem 1.8rem,

    // item
    menu-submenu-item-padding: 0.3rem 0.8rem,

    menu-font-weight: font-weight-normal,
    // menu-group-font-weight: 400,

    // profile menu
    user-menu-bg:#ffffff, //bg
    user-menu-active-bg: #f6f6f6, //bg

    // user-menu-fg: #313131, // @TODO: global fg color
    user-menu-active-fg: color-fg,
    user-menu-border: #eee,

    // Borders
    // form-control-border-width: 1px,
    // btn-secondary-border-width: 1px,
    // checkbox-border-size: 1px,

    // tabs-selected: #0e131a,
    tabs-selected: red,

    // top menu icons
    actions-size-medium: 1.75rem,

    /**
    * Sidebar Menu
    */
    sidebar-height: 90vh,

    sidebar-padding: 0,

    // menu-active-bg: #3E4855, // active + hover
    // sidebar-bg: #263548, //bg

    // scrollbar-thumb-radius: 0, // doesn't work - done in sample.layout.css => nb-sidebar.menu-sidebar { /deep/ .main-container { border-top-right-radius:0

    menu-submenu-bg: #fcfcfc, //bg
    // menu-submenu-active-bg: #eeeeee, //bg
    menu-submenu-active-fg: #8b8b8b,
    menu-submenu-active-border-color: #eeeeee,
    menu-submenu-hover-fg: #4b4b4b,

    menu-submenu-item-border-width: 0.09rem,
    menu-submenu-item-border-radius: 0.1rem,


    menu-item-separator: #eeeeee, // border-bottom
    menu-active-bg: #f8f8f8, //bg
    menu-bg: #f8f8f8, //bg
    // sidebar-bg: #3E4855, // background
    menu-submenu-item-container-padding:0 0.75rem,

    // Sidebar Menu icon
    menu-icon-font-size: 1.6rem,

    // // submenu
    // menu-submenu-active-bg: #3E4855, // active (opened)

    // // menu-submenu-hover-bg: #3E4855,

    // // menu-submenu-fg: #3E4855,

    // green overwrite //@TODO: split into corresponding components
    route-tabs-selected: #939da8,
    smart-table-paging-bg-active: #939da8,
    form-control-selected-border-color: #939da8,
    checkbox-selected-border-color: #939da8,
    radio-fg: #939da8,

    // Header
    header-bg: #fbfbfb, //bg

    // layout-window-mode-padding-top: 0,
    header-height: 4.25rem,

    // shadows
    // shadow: ,
    // sidebar-shadow: none,
    header-shadow: 0 -2px 12px 0 #929292,


    layout-padding: 1.25rem 1.25rem 0.25rem,
    /**
    * Footer
    */
    footer-height: 3rem,
    /**
    * Forms-control
    */

    form-control-border-width: 1px,
    form-control-border-type: solid,
    form-control-border-radius: 0.25rem,
    form-control-border-color: #dadfe6,
    // form-control-selected-border-color: color-success,

    // form-control-info-border-color: color-info,
    // form-control-success-border-color: color-success,
    // form-control-danger-border-color: color-danger,
    // form-control-warning-border-color: color-warning,

    form-control-placeholder-color: color-fg,
    form-control-placeholder-font-size: 1rem,

    form-control-font-size: 1rem,
    form-control-sm-font-size: font-size-sm,
    form-control-sm-padding: 0.5rem 0.75rem !important,
    form-control-lg-font-size: font-size-lg,
    form-control-lg-padding: 0.5rem 0.75rem !important,

    form-control-label-font-weight: 400,

    // form-control-feedback-font-size: 0.875rem,
    // form-control-feedback-font-weight: font-weight-normal,

    /**
    * Cards
    */
    card-shadow: none,
    card-border-radius: 0.15rem,

    /**
    * @Global
    */
    layout-bg: #f9fafb, //@TODO: more contrasted
    // layout-window-mode-bg: #f9fafb,

    // global colors
    color-bg: #ffffff,
    color-fg: #616161,
    color-fg-highlight:#3d518c,

    color-primary: #3d518c,
    color-success: #155724, // alternative: 59b969
    color-info: #4ca6ff,
    color-warning: #ffa100,
    color-danger: #c74a6a,

    // text-success: #59b969,

    // sidebar-bg: #f8f8f8,

    // padding: 1rem
    radius: 0.25rem,
    shadow: 0px 0px 4px 1px #efefef,

  ), default, default); // let's leave it as default

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
};

/**
* Forms overwrites
*/

// ngbradiogroup (radio toggle btn)
.btn, button {
  padding: 0.375rem 0.75rem !important;
  cursor: pointer !important;
}
.nb-theme-default .btn-outline-divided-group .btn:not(.active) {
  // background-color: #dddddd;
  opacity: 0.8;
  background: #3d518c; // primary
}
.input-group-addon,
.form-control {
  padding: 0.375rem 0.75rem !important;
  // color: nb-theme(form-control-text-primary-color);
  // background-color: nb-theme(form-control-bg);
  // border: nb-theme(form-control-border-width)
  //         nb-theme(form-control-border-type)
  //         nb-theme(form-control-border-color);
  // font-family: nb-theme(font-main);
  // border-radius: nb-theme(form-control-border-radius);

  // &:focus {
  //   border: nb-theme(form-control-border-width)
  //           nb-theme(form-control-border-type)
  //           nb-theme(form-control-selected-border-color);
  //   background-color: nb-theme(form-control-focus-bg);
  // }

  // &:disabled {
  //   border-color: nb-theme(form-control-border-color);

  //   @include install-placeholder(rgba(nb-theme(form-control-placeholder-color), 0.5),
  //                                nb-theme(form-control-placeholder-font-size));
  // }
  // @include install-placeholder(nb-theme(form-control-placeholder-color),
  //                              nb-theme(form-control-placeholder-font-size));
}
select.form-control:not([size]):not([multiple]) {
  height: auto !important;
}
.alert-success { }
.alert {
  background: #eee !important;
}
.form-control-label {
  color: nb-theme(form-control-text-primary-color);
  font-weight: nb-theme(form-control-label-font-weight);
}

.form-control-feedback {
  font-size: nb-theme(form-control-feedback-font-size);
  font-weight: nb-theme(form-control-feedback-font-weight);
}

.form-text {
  color: nb-theme(color-fg);
  font-family: nb-theme(font-main);

  &.hint {
    margin-left: 1rem;
  }

  &.error {
    margin-left: 1rem;
    color: nb-theme(color-danger);
  }
}

/**
nbcard
    box-shadow: 0px 0px 4px 1px #efefef;
    border: 1px solid #eee;
    border-radius: 0.2rem;
nblayoutheader
    background: #fbfbfb;
*/
