@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  nb-layout-column.small {
    flex: 0.15 !important;
  }

  nb-sidebar.settings-sidebar {
    $sidebar-width: 7.5rem;

    // transition: width 0.3s ease;
    transition: width 10s ease;
    width: $sidebar-width;
    overflow: hidden;
    nb-layout-column.left
    &.collapsed {
      width: 0;

      /deep/ .main-container {
        width: 0;

        .scrollable {
          width: $sidebar-width;
          padding: 1.25rem;
        }
      }
    }

    /deep/ .main-container {
      width: $sidebar-width;
      background: nb-theme(color-bg);
      // transition: width 0.3s ease;
      transition: width 10s ease;
      overflow: hidden;

      .scrollable {
        width: $sidebar-width;
      }

      @include nb-for-theme(cosmic) {
        background: nb-theme(layout-bg);
      }
    }
  }

  nb-sidebar.menu-sidebar {
    height: calc(90vh - #{nb-theme(header-height)});

    // add - menu li border top
    /deep/ .menu-item {
      border-top: 1px solid #ffffff;
      a {
        transition: all 0.4s ease;
      }
    }

    // margin-top: nb-theme(sidebar-header-gap); // margin top to place the sidebar header (old: SUPPORT US)
    padding-top: 1.25rem;
    // background: #ffffff !important;


    /deep/ .main-container {
      // calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)} - #{nb-theme(sidebar-header-gap)}) !important; // no header gap anymore
      // border-top-right-radius: nb-theme(radius); // Sidebar to right border-radius

      height: calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
      border-top-right-radius: 0;
      transition: width 0.1s ease;

      background: transparent;
      box-shadow: none;
    }

    /deep/ nb-menu {
      border: 1px solid #eeeeee;
      border-bottom: 0;
    }

    /deep/ nb-sidebar-header {
      padding-bottom: 0.5rem;
      text-align: center;
    }

    background: transparent;

    .main-btn {
      padding: 0.75rem 2.5rem;
      margin-top: -2rem;
      font-weight: bold;
      transition: padding 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);

      i {
        font-size: 2rem;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }
      span {
        padding-left: 0.25rem;
      }

      i, span {
        vertical-align: middle;
      }
    }

    /deep/ .menu-title {
      white-space: nowrap;
    }

    &.expanded {

    }
    &.compacted {

      /deep/ nb-sidebar-header {
        padding-left: 0;
        padding-right: 0;
      }

      .main-btn {
        width: 46px;
        height: 44px;
        padding: 0.375rem;
        border-radius: 5px;
        transition: none;

        span {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .main-content {
      padding: 0.75rem !important;

    }
  }

  @include media-breakpoint-down(sm) {

    nb-sidebar.menu-sidebar {

      margin-top: 0;

      /deep/ .main-container {
        height: calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
        border-top-right-radius: 0;
        transition: width 0.1s ease;

        background: transparent;
        box-shadow: none;

        .scrollable {
          padding-top: 0;
        }
      }

      /deep/ nb-menu {
        border: 1px solid #eeeeee;
        border-bottom: 0;
      }

    }

    .main-btn {
      display: none;
    }
  }
}
// add - user-menu when profile pic/name is clicked - @TODO: get rid of /deep/ selector (deprecated)
/deep/ .user-context-menu {
  margin-top: 0.8rem;
}

/**
* Fixes the footer at the bottom of the page when scrolling down - disabled by default
*/
.footer-fixed {
  flex:0; //@HACK to get the sidebar width as auto instead of 50%
  // position: fixed;
  // bottom: 0;
  // width: 100%;
}

/deep/ .sidebar-col {
  flex-grow:0 !important; // force the sidebar column width to not grow in the layout over it's default size
  padding: 0 !important; // force the remove of the default column padding
  width: auto !important; // force the sidebar width to auto: 'all the sidebar content width'
}
